body{
  overflow-y: hidden;
    overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}
#root{
  height: 100vh;
  width: 100vw;
  background: #F79977;
}

/* HEADER */

#header{
  display: flex;
  align-items: center;
  background: rgb(31, 30, 21);
  margin: 0;
  padding: 0;
}

.new_cards{
  margin-left: auto;
  
}
.scoreCount{
  font-size: 1.5em;
  margin-left: 15px;
}

#player_1_score{
  color: #F6645C;
}
#player_2_score{
  color: #029FEC;
}
.hamburger-react{
  margin-left: auto;
}

/* GAME VIEW */
.card_container_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
background: linear-gradient(135deg, #681111, #3c2a4d, #1a1a1a);}

/* CARD CONTAINER */
.card_container {
  display: flex;
   width: 100%;
  
  flex-wrap: wrap;
  gap: 0px; /* No gap at all */
  height: auto;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
}


/* CARD */

.card {
    height:75px;
    border-radius: 12px;

    background: linear-gradient(145deg, #751616, #0f0f0f, #1c1c1c);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 55px;
    margin: 10px;
}

/* LANDSCAPE ROTATION PHONE */
 @media screen and (orientation:landscape)  {
  /* Styles for phones in landscape */
  .card_container {
    display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 equal columns */
  grid-template-rows: repeat(3, auto);   /* 3 rows, height automatic */
  gap: 10px;  
  }
}